# ==============================================
# 🚀 Backend Environment Configuration
# ==============================================

# 🔌 Server Port
PORT=5000
PAYPAL_CLIENT_ID=AYfcaXSqzdjrE6iXssROI4RcxC6IfTWuOKGXL_afsJ6dPH-VryHkUOkls3GuX8ecauGTT7gnceaTi4lJ
PAYPAL_CLIENT_SECRET=EHaCr4tjaLNZemQhRmrmh4zYW3YkyOBK9IaRXG33lqx8qE5UB3epuJxXSkSEk6tQLyzgBjtcbelqqbmI
PAYPAL_MODE=sandbox   # or live


# 🗄️ MongoDB Connection URI
MONGODB_URI=mongodb+srv://hassankhaliq2122_db_user:PaBXDmN6DCPBVST8@cluster0.uiqyegb.mongodb.net/swissproject?retryWrites=true&w=majority

# 🔑 JWT Configuration
JWT_SECRET=Hassan2122@
JWT_EXPIRE=7d

# 📧 Gmail SMTP Configuration (for sending emails)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=hassankhaliq2122@gmail.com
EMAIL_PASS=ydno djdh zftx pkam  # ⚠️ This should be your Gmail App Password, not your actual account password


VITE_GOOGLE_CLIENT_ID=16720038692-h0splodfn9cq501dffjtps4v7utnbfvd.apps.googleusercontent.com



# ☁️ Cloudinary Configuration (Optional - for file uploads)
CLOUDINARY_CLOUD_NAME=dnp52g3gb
CLOUDINARY_API_KEY=991695313738438
CLOUDINARY_API_SECRET=hCvcB5-XxlQPGHJdY8PGqeMOa9U

# 🌍 Frontend URL
FRONTEND_URL=http://localhost:3000
